.avenir-book {
  @extend %avenir-book;
}
.avenir-book-oblique {
  @extend %avenir-book-oblique;
}
.avenir-roman {
  @extend %avenir-roman;
}
.avenir-roman-oblique {
  @extend %avenir-roman-oblique;
}
.avenir-medium {
  @extend %avenir-medium;
}
.avenir-medium-oblique {
  @extend %avenir-medium-oblique;
}
.avenir-heavy {
  @extend %avenir-heavy;
}
.avenir-heavy-oblique {
  @extend %avenir-heavy-oblique;
}

.before-content:before {
  content: "";
  display: table;
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}
.text-center {
  text-align: center;
}
.no-margin {
  margin: 0;
}

.profile-padding-base {
  padding: $padding-base;
}