// --------------------------------------------------
// Fonts
// --------------------------------------------------

$body-font-family:                   "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$bold-font-family:                   "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$medium-font-family:                 "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font:                        "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$header-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-title-font-family:           "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-body-font-family:            "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$banner-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-title-font-family:      "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-body-font-family:       "Avenir Roman", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$search-title-font-family:           "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$input-font-family:                  "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;


$avenir-book:                   "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$avenir-heavy:                   "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$avenir-medium:                 "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$avenir-roman:       "Avenir Roman", Helvetica, Arial, Nimbus Sans L, sans-serif !important;

$gray-blue: #7599AD;
$padding-base: 30px;

body{
  background-color: lightgray;
  font-family: $input-font-family;
}
.display-block {
  display: block;
}
.text-center{
  text-align: center;
}
.no-margin {
  margin: 0;
}
.profile-overview,
.profile-about,
.profile-ranking,
.profile-skills{
  background-color: #fff;
  margin-bottom: 20px;
}

.profile-intro {
  display: flex;
  align-items: center;
  .img-profile {
    padding-right: 25px;
  }
}
.profile-about-title {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

input.readonly{
  border: none;
  &:focus{
    outline: none;
    cursor: default;   
  }
}

.before-content:before{
  content: "";
  display: table;
}

.profile-padding-base {
 padding: $padding-base; 
}
.profile-padding-base-tops {
  padding-top: $padding-base; 
  padding-bottom: $padding-base; 
 }
 .profile-padding-base-bottom-half{
   padding-bottom: 15px;
 }
 .profile-padding-base-top-half{
  padding-top: 15px;
}
.profile-data-item {
  color: $gray-blue;
  font-weight: bold;
  font-size: 30px;
}

@media (min-width:992px) {
  .profile-left-wrapper{
    padding-right:0;
  }
}