.profile-container {
  font-family: $input-font-family;
  padding-top: $padding-base;
  padding-bottom: $padding-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $avenir-roman;
    font-weight: normal;
  }

  .profile-overview,
  .profile-about,
  .profile-ranking,
  .profile-skills {
    box-shadow: $course-card-box-shadow;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .edit-btn {
    color: $gray;
    cursor: pointer;
    span {
      font-family: $avenir-roman;
      margin-right: 5px;
    }
    i {
      border: 2px solid $light-gray;
      border-radius: 5px;
      padding: 7px;
    }
  }

  .intro {
    margin: 0;
    .intro__img {
      text-align: center;
      img {
        border: 3px solid $gray;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    .intro__text {
      text-align: center;
    }
    .intro__name {
      font-size: 40px;
      display: block;
      font-family: $avenir-roman;
    }
    .intro__company {
      display: block;
      font-family: $avenir-roman;
      color: $gray;
      font-size: 16px;
    }
  }
  .achievements {
    h3 {
      margin-top: 55px;
      margin-bottom: 30px;
    }
    .achievements__data {
      text-align: left;
      margin-top: 30px; 
      .achievements__data--title {
        display: block;
        font-family: $avenir-roman;
        color: $gray;
      }
      .achievements__data--number {
        display: block;
        color: $gray-blue;
        font-family: $avenir-roman;
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  .badges {
    h3 {
      margin-top: 80px;
      margin-bottom: 30px;
    }
    .badges__imgs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      & > div {
        flex: 0 50%;
        width: 100%;
        &:nth-child(odd) {
          text-align: right;
          img {
            margin-right: 30px;
          }
        }
        &:nth-child(even) {
          text-align: left;
          img {
            margin-left: 30px;
          }
        }
      }
        img {
          margin-top: 30px;
          margin-bottom: 30px;
          border-radius: 50%;
          width: 100px;
          height: 100px;
        }
      
    }
  }

  .profile-about {
    .profile-about-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profile-about-field-wrapper {
      padding-bottom: 30px;
    }
    label {
      @extend %defaultLabel;
      display: block;
      color: $gray;
      font-family: $avenir-book;
    }

    input {
      display: block;
      @extend %defaultInput;
    }

    input.readonly {
      border: none;
      &:focus {
        outline: none;
        cursor: default;
      }
    }
  }

  .profile__data {
    padding-top: 15px;
    .profile__data--title {
      display: block;
      font-family: $avenir-roman;
      color: $gray;
    }
    .profile__data--number {
      display: block;
      color: $gray-blue;
      font-family: $avenir-roman;
      font-size: 50px;
    }
  }
}


@media (min-width: 768px) {
  .profile-container {
    .achievements {
      .achievements__data {
        margin-top: 0;
      }
    }
    .intro {
      display: flex;
      align-items: center;
      .intro__img {
        padding-right: 25px;
      }
      .intro__text {
        text-align: left;
      }
    }
    .badges {
      .badges__imgs{
        display: block;
        & > div {
          display: inline;
          img {
            margin: 0 50px 0 0 !important;
          }
        }
        
      }
    }
  }
}


@media (min-width: 992px) {
  .profile-overview,
  .profile-ranking {
    height: 650px;
  }

  .profile-about,
  .profile-skills {
    height: 400px;
  }

  .profile-container {
    .profile__left {
      padding-right: 0;
    }
    .achievements{
      .achievements__data {
        text-align: left;
      }
    } 
    .badges {
      .badges__imgs {
        flex-direction: row;
        justify-content: space-evenly;
        & > div {
          display: inline;
          img {
            margin-right: 30px !important;
          }
        }
      }
    }
  }
}


@media (min-width: 1200px) {

  .profile-container {
    .badges {
      .badges__imgs {
        & > div {
          img {
            margin-right: 60px !important;
          }
        }
      }
    }
  }
}
