$course-card-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.1);
$gray-blue: #7599ad;
$gray: #6e7e8c;
$light-gray: #e8e8e8;
$padding-base: 30px;

// --------------------------------------------------
// Fonts
// --------------------------------------------------

$body-font-family:                   "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$bold-font-family:                   "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$medium-font-family:                 "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font:                        "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$header-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-title-font-family:           "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-body-font-family:            "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$banner-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-title-font-family:      "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-body-font-family:       "Avenir Roman", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$search-title-font-family:           "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$input-font-family:                  "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;


$body-font-family: "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$bold-font-family: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$medium-font-family: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$header-font-family: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-title-font-family: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-body-font-family: "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$banner-font-family: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-title-font-family: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-body-font-family: "Avenir Roman", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$search-title-font-family: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font-family: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$input-font-family: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;

$avenir-book: "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$avenir-heavy: "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$avenir-medium: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$avenir-roman: "Avenir Roman", Helvetica, Arial, Nimbus Sans L, sans-serif !important;


