// --------------------------------------------------
// Fonts
// --------------------------------------------------

$body-font-family:                   "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$bold-font-family:                   "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$medium-font-family:                 "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font:                        "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$header-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-title-font-family:           "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$footer-body-font-family:            "Avenir Book", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$banner-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-title-font-family:      "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$course-card-body-font-family:       "Avenir Roman", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$search-title-font-family:           "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$button-font-family:                 "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;
$input-font-family:                  "Avenir Heavy", Helvetica, Arial, Nimbus Sans L, sans-serif !important;