body, h1, p {
  font-family: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important; }

body {
  background-image: url(https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/169546.jpg); }

.bs-container {
  background-color: white;
  width: 80%; }

.wrapper-register {
  padding-bottom: 60px; }
  .wrapper-register hr {
    height: 1px;
    background-color: #cfcfcf;
    border: none;
    margin-top: 30px; }
  .wrapper-register h1 {
    padding: 0; }
  .wrapper-register input[type="text"],
  .wrapper-register input[type="password"] {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #CACFCB;
    font-size: 16px;
    background-color: white;
    padding-top: 5px; }
  .wrapper-register select {
    display: block;
    width: 100%;
    border-color: #596773; }
  .wrapper-register .label-input {
    color: #8fa0a8;
    padding-top: 20px;
    text-align: left;
    display: block;
    font-size: 12px;
    font-family: "Avenir Romsan", Helvetica, Arial, Nimbus Sans L, sans-serif !important; }
  .wrapper-register .checkbox {
    margin-right: 10px; }
  .wrapper-register .review {
    margin-left: 25px;
    color: #3da9d2;
    font-family: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important; }
  .wrapper-register .a--course-about-01__courseware-btn {
    font-size: .94118em;
    line-height: 1.29375em;
    padding: 8px 25px;
    color: #fff;
    background-color: #ff9934;
    border: 1px solid #ff9934;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    transition: transform .5s ease; }

.inputs {
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Avenir Medium", Helvetica, Arial, Nimbus Sans L, sans-serif !important; }

.dropdown {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.29375em;
  border: 1px solid #596773;
  padding: 8px 10px;
  background-color: #fff;
  color: #596773;
  width: 100%;
  display: block;
  margin-bottom: 1.35294em;
  margin-top: 1em; }

.form-registration label:first-child {
  padding-top: 0px; }

@media (min-width: 992px) {
  .bs-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 80px;
    width: 60%; }
  .wrapper-register {
    margin-left: auto;
    margin-right: auto; } }
